@import 'variables';

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 200px;
  width: 350px;
  border-radius: 30px;
  padding: 20px;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(196, 196, 196, 0.03);
}

.container button {
  height: 50px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  font-size: 0.9rem;
  padding: 0 20px;
  background: #191a21;
  color: $white;
  border: none;
  outline: none;
}

header {
  text-align: center;
}

.brand {
  width: 60px;
}

.title {
  opacity: 0.7;
  font-size: 1.2rem;
  padding: 7px 0;
  letter-spacing: 4px;
  font-family: $font-primary;
  color: $white;
}
